.sectionSkills {
    font-family: 'Staatliches', cursive;
    color: #fafafa;
    line-height: 2;
    margin: 70px auto; 
    max-width: 800px;
    width: 100%;
}

.sectionSkills__header {
    font-size: 40px;
    color: rgba(236, 218, 236, 0.514);
    text-shadow: 0 0 10px rgba(200, 88, 214, 0.699);
    letter-spacing: 5px;
    padding: 20px;
    
}

.sectionSkills__doubleSection {
    border: 5px solid #c42173de; 
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(230, 171, 225, 0.781);
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.sectionSkills__paragraph {
    font-size: 25px;
    text-align: left;
    text-shadow: 0 0 20px rgb(192, 199, 199);
    letter-spacing: 2px;
    max-width: 500px;
}

.sectionSkills__list__item {
    font-size: 20px;
    text-align: justify;
    text-shadow: 0 0 20px rgb(192, 199, 199);
    letter-spacing: 2px;
    list-style-type: square;
}

.sectionSkills__skills--right {
    margin-left: 150px;
}
