html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background: url("images/background.png");
    background-size: cover;
}

.main {
    margin: 30px 20px;
}

.footer__copyRight {
    font-size: 15px;
    text-align: justify;
    letter-spacing: 2px;
    font-family: 'Staatliches', cursive;
    color: #fafafa93;
    text-align: center;
}
